.header {
    background-color: var(--white);
    padding-top: 96px;
    padding-bottom: 77px;
    font-family: 'Inter', sans-serif;
}

.header__title {
    padding-top: 96px;
    padding-left: 160px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}

.header_inner {
    background: #F9FAFC;
    grid-area: header;
    margin-bottom: 36px;
}

@media screen and (max-width: 375px) {
    .header {
        padding: 16px 0;
        margin-bottom: 32px;
        background: #F9FAFC;
    }

    .header__logo {
        background: #F9FAFC;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}