.accordion {
    font-family: Inter;
}

.accordion__item {
    margin-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--black);
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary {
    cursor: pointer;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.accordion__item[open] .accordion__summary {
    padding-bottom: 16px;
}

.summary__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 auto;
    color: var(--grey-4);
}

.accordion__item[open] .summary__content {
    padding-bottom: 32px;
}