@media screen and (max-width: 375px) {
    .main {
        padding: 0;
        background: var(--white);
    }

    .header {
        padding: 0;
        margin: 0;
    }

    .container {
        padding-left: 16px;
        padding-right: 15px;
    }

    .header__logo {
        background: #F9FAFC;
        height: 64px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__title {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: var(--grey-4);
        margin: 0;
        margin-bottom: 20px;
    }
}