h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
}

h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}

h1,
h2,
p {
    font-family: 'Inter', sans-serif;
    color: #212429;
}

.page_inner {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #F9FAFC;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    grid-area: main;
}