.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}

h1,
h2,

p {
    font-family: 'Inter', sans-serif;
    color: #212429;
}

.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #F9FAFC;
}

.page__area {
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.page__area_footer {
    grid-area: footer;
}

.page__area_header {
    grid-area: header;
}

.page__area_main {
    grid-area: main;
}