.main {
    background-color: var(--grey-1);
    padding: 68px 0;
}

.main__grid {
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 375px) {
    .main {
        padding-top: 24px;
    }

    .main__grid {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}