.main {
    background-color: var(--grey-1);
    padding: 68px 0;
}

.main__grid {
    display: flex;
    gap: 30px;
}

.main__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    flex-grow: 1;
}

.main__menu {
    width: 229px;
}

@media screen and (max-width: 375px) {
    .main {
        padding: 0;
        background: var(--white);
    }

    .main__title {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: var(--grey-4);
        margin: 0;
        margin-bottom: 20px;
    }
}