.main {
    background-color: var(--grey-1);
    padding: 68px 0;
}

.main__grid {
    display: flex;
    gap: 30px;
}

.header__logo {
    display: none;
}

@media screen and (max-width: 375px) {
    .main {
        background-color: red;
        padding-top: 23px;

    }

    .header {
        padding: 16px 16px 69px;
    }

    .container {
        padding-left: 16px;
        padding-right: 15px;
    }

    .header__logo {
        display: block;
        margin: auto;
    }

    .header__title {
        font-family: Inter;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
        margin: 0;
        margin-top: 48px;
        color: var(--grey-4);
    }

    .card {
        max-width: 164px;
        max-height: 210px;
    }

    .main__grid {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .footer {
        display: none;
    }
}