.main__menu {
    width: 229px;
}

.main__sidebar {
    height: 246px;
}

.template__inner {
    display: grid;
    max-width: 1110px;
    width: 100%;
    justify-self: center;
}

.template__area {
    grid-template-areas:
        "header"
        "main"
        "footer";
}