 .radio {
     display: inline-block;
     position: relative;
 }


 .radio__state {
     display: flex;
     align-items: center;
     gap: 12px;
 }


 .radio__control {
     width: 28px;
     height: 28px;
     background: #FFFFFF;
     border: 1px solid #DDE2E5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .radio__round {
     width: 18px;
     height: 18px;
     background: #4263EB;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }


 .radio__input:checked~.radio__state .radio__control {
     border: 2px solid #4263EB;
 }

 .radio__input:focus~.radio__state .radio__label {
     text-decoration: underline;
 }

 .radio__input {
     opacity: 0;
     position: absolute;
     left: -100vw;
 }

 .radio__round {
     display: none;
 }

 .radio__input:checked~.radio__state .radio__round {
     display: block;
 }

 .radio__input:disabled~.radio__state .radio__control {
     background: #DDE2E5;
 }

 .radio__input:disabled~.radio__state .radio__label {
     color: #DDE2E5;
 }

 .radio__label {
     font-family: Inter;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     text-align: left;
     color: #495057;
 }

 .radio-wrapper {
     display: flex;
     flex-direction: column;
     gap: 13px;
 }