.footer {
    background-color: var(--white);
    padding-top: 72px;
    padding-bottom: 136px;
    font-family: 'Inter', sans-serif;
}

.footer__container {
    max-width: 640px;
    margin: 0 auto;
}

.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    text-align: center;
}

.footer__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 136px;
    text-align: center;
    color: var(--black);
}

.footer__text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #ACB5BD;
    padding-top: 56px;
    padding-bottom: 56px;
    margin: 0;
}

.footer_inner {
    background: #F9FAFC;
    grid-area: footer;
    text-align: center;
    color: var(--black);
}